<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="Online Quiz Portal" content="">
    <title>Nates Quiz Homepage </title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
  </head>
  <body>
    <div id="container">
      <div>
        <h1 class="nate-header">Nates Quiz</h1>
      </div>
      <div id="email-input">
        <label for="user-email">Enter Email To Continue</label><br>
        <input type="email" id="user-email" name="user-email" value="user@email.com"/>
        <button type="submit">Enter Story Area</button>
      </div>
      
    </div>
  </body>
</html>